@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>THE DOCTOR'S WARDROBE</h1>
    <p class="lead">Location: The TARDIS (Time and Relative Dimensions in Space)</p>
    <p class="lead">Galactic Space-Time Coordinates: Relative</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tops</h2>
        <p>Shirts & suit coats.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Bottoms</h2>
        <p>From trousers to tuxes. Maybe even a kilt?</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-3">
        <h2>Outer Wear</h2>
        <p>Coats of all lengths and a few surprises!</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
    
</div> <!--end row 1-->

<div class="row">
    
    <div class="col-md-4">
        <h2>Neckwear</h2>
        <p>Ties and scarves. Bowties are cool!</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
     <div class="col-md-3">
        <h2>Accessories</h2>
        <p>Glasses, hats, and items of unknown origin!</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div><!--end row 2-->